// Whites
@white: #ffffff;
@gray: #929292;

// Yellows
@pastelYellow: #f5ff68;

// Reds
@pastelRed: #d84f4f;

// Blues
@lightestBlue: #d7e5ff;
@lightBlue: #cfdefc;
@darkBlue: #18313f;
@pastelBlue: #2844bd;

// Greens
@mediumGreen: #2eb34f;

// Online Swatch
@lightRed: #c7493a;
@darkRed: #a33327;
@pastelGreen: #689775;
@tan: #917164;
@lightTan: #ad8174;

@matteBlack: #272727;
@lightGray: #5c5c5c;
