// Whites
@white: #ffffff;
@gray: #929292;

// Yellows
@pastelYellow: #e6f429;
@pittYellow: #ffb81c;

// Reds
@pastelRed: #d84f4f;

// Blues
@lightestBlue: #96b9d6;
@lightBlue: #75a3c9;
@darkBlue: #1c5678;
@pastelBlue: #2844bd;
@pittBlue: #003594;
@lightPittBlue: #315eb2;

// Greens
@mediumGreen: #2eb34f;

// Online Swatch
@lightRed: #c7493a;
@darkRed: #a33327;
@pastelGreen: #689775;
@tan: #917164;
@lightTan: #ad8174;

@matteBlack: #272727;
@lightGray: #c9c9c9;
@lighterGray: #dbdbdb;
