@import 'Colors.less';

.darkBlueText {
	color: @darkBlue;
}

.button {
	border-radius: 0.25rem;
	border: none;
	height: 2.5rem;
	color: @white;
	background-color: @pastelBlue;
	width: 4rem;
	margin-right: 0.5rem;
	&.deleteButton {
		background-color: @pastelRed;
	}

	&.addButton {
		background-color: @mediumGreen;
	}
}

.label {
	font-size: 1rem;
	font-weight: bold;
	color: @darkBlue;
}

.heading {
	font-size: 1.5rem;
	font-weight: 500;
	color: @darkBlue;
	text-align: center;
	padding-bottom: 1rem;
}
